scripts/
notebooks/
# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
tests/collectors/__pycache__/
test_trading_system.db
src/collectors/__pycache__/

