scripts/
# Ignore Python cache files
__pycache__/
*/__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
notebooks/old/
*.ipynb_checkpoints/
test_trading_system.db
src/data/trading_system.db
src/data/trading_system.db-journal
data/
cache_dir/
hyperopt_cache/
# Ignore MLFlow outputs
notebooks/*.json
notebooks/*.csv
mlruns/